__pycache__/
*.pyc
outputs/
output/
inputs/owned_videos/*
inputs/licensed_videos/*
inputs/images/*
!inputs/owned_videos/.gitkeep
!inputs/licensed_videos/.gitkeep
!inputs/images/.gitkeep
*.wav
*.mp4
*.mp3
*.aac
_temp/
_downloads/
